<div [@routerTransition]>
  <h4 class="text-center mb-3">{{ "Register" | localize }}</h4>
  <form autocomplete="off" #registerForm="ngForm" (ngSubmit)="save()">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" name="name" placeholder="{{ 'Name' | localize }}" required
          maxlength="64" [(ngModel)]="model.name" #nameModel="ngModel" #nameEl />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-arrow-left"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" name="surname" placeholder="{{ 'Surname' | localize }}" required
          maxlength="64" [(ngModel)]="model.surname" #surnameModel="ngModel" #surnameEl />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-arrow-left"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="email" class="form-control" name="emailAddress" placeholder="{{ 'EmailAddress' | localize }}"
          required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
          [(ngModel)]="model.emailAddress" #emailAddressModel="ngModel" #emailAddressEl />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="emailAddressModel" [controlEl]="emailAddressEl"></abp-validation-summary>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="email" class="form-control" name="userName" placeholder=" {{ 'UserName' | localize }}" required
          maxlength="32" [(ngModel)]="model.userName" #userNameModel="ngModel" #userNameEl />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="userNameModel" [controlEl]="userNameEl"></abp-validation-summary>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="password" class="form-control" name="password" placeholder="{{ 'Password' | localize }}"
          [(ngModel)]="model.password" required maxlength="32" #passwordModel="ngModel" #passwordEl />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"></abp-validation-summary>
    </div>

    
    <div class="card" style="text-align: right;margin-top: 5px;margin-bottom: 35px;">
      <div class="card-header" style="background-color: #d5e8eb8a;">
        <h5>{{l('Policy')}}</h5>
      </div>
      <div class="card-body">
        <h5 style="font-size: 1.1rem;">
          <font style="font-weight:500; ">

            السادة أولياء الأمور الأعزاء
            <br><br>

            بعد التحية،،،
            <br><br>

            - برجــاء اســتيفاء اســتمارة التقــديم الموجــودة علــى الموقــع الالكــترونى للمدرســة<br>
            <font style="line-height:2 !important;font-weight:700; ">
              فى الفــترة مــن السبت الموافـــق 19/12/2020 حتى السبت 23/1/2021
            </font> <br><br>

            <font style="line-height:2 !important;font-weight:860; ">هام جداً
            </font>
            <br><br>
            -تستوفى الاستمارة باللغـة الإنجليزيـة والعربية فقط ولـن يلتفـت إلى الاسـتمارات غـير مكتملـة البيانات.
            <br><br>
            <br>
            <font style="font-weight:860;line-height:2 !important;text-decoration:underline;font-size:larger; ">
              :ملحوظة هامة
            </font>
            <br>
            <span style="line-height:2 !important;">
              يجب استيفاء كل بيانات الطفلة ووالديها وإخواتها بدقة وإلا يعتبر الطلب غير مكتمل البيانات ويتم استبعاده.
              بعـد اسـتيفاء طلـب الإلتحـاق علـى الموقـع الإلكـترونى يجب أن تقوموا بطباعتة واحضاره مع باقى المستندات
              الأخرى المطلوبة يوم التقديم فى المدرسة
            </span> <br><br>
            <font style="font-weight:860;line-height:2 !important; ">يجب تقديم المستندات التالية:</font> <br> <br>
            <font style="font-weight:860;line-height:2 !important; ">
              أ) للمصريين:
            </font>
            شهادة الميلاد الأصلية وصورة شخصية للطفلة
            <br><br>
            <font style="font-weight:860;line-height:2 !important; ">
              ب) لغير المصريين:
            </font>
            جواز سفر الطفلة وصورة شخصية واحدة للطفلة
            <br><br>
            <font style="font-weight:860; line-height:2 !important;">
              ج) رسوم التسجيل:
            </font>
            مع تقديم نماذج التسجيل ، يجب دفع رسوم التسجيل التى لن تُرد حال عدم قبول الطفلة.
            <br><br>
          </font>
        </h5>
        <label for="policyCheck">{{l('policyCheck')}}</label>
        <input class="form-check-inline" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="policyCheck"
          id="policyCheck">
      </div>

    </div>
    <div class="row">
      <div class="col-8">
        <button type="button" class="btn btn-default" [disabled]="saving" [routerLink]="['../login']">
          <i class="fa fa-arrow-circle-left"></i> {{ "Back" | localize }}
        </button>
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block"
          [disabled]="!registerForm.form.valid || saving||!policyCheck">
          {{ "Register" | localize }}
        </button>
      </div>
    </div>

  </form>

</div>
