<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" *ngIf="!invalidDate">Application Form</h3>
                            <h3 class="card-title" *ngIf="invalidDate">Application Ended</h3>

                        </div>
                        <div class="card-body  container">
                            <div *ngIf="invalidDate">
                                <div style="text-align: center;" class="row">
                                    <div class="col-md-3">

                                    </div>
                                    <div class="col-md-6">
                                        <h3>{{l('applicationEnded')}}</h3>
                                    </div>
                                    <div class="col-md-3">

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!invalidDate">
                                <form class="form-horizontal" autocomplete="off" [formGroup]="ApplicationForm"
                                    (ngSubmit)="save()">
                                    <div *ngIf="!chooseDate">
                                        <div class="form-group row required">
                                            <div class="col-md-4">
                                                <label for="name" class="requiredInput">
                                                    {{l('studentName')}}
                                                </label>
                                                <input type="text" formControlName="studentName" class="form-control"
                                                    name="name" id="name" maxlength="30">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="name" (keypress)="arabicOnly($event)" class="requiredInput">
                                                    {{l('studentNameAr')}}
                                                </label>
                                                <input type="text" formControlName="studentNameAr" class="form-control"
                                                    name="name" id="name" maxlength="30">
                                            </div>
                                        </div>
                                        <div class="form-group row required">
                                            <div class="col-md-4">
                                                <label for="studentNationalId" class="requiredInput">
                                                    {{l('studentNationalId')}}
                                                </label>
                                                <input type="text" (keypress)="checkPattern($event,false,true)"
                                                    (change)="getAgeAndBirthDate()" maxlength="14"
                                                    [ngClass]="{ 'is-invalid': f.studentNationalId.touched  && f.studentNationalId.errors, 'is-valid': f.studentNationalId.touched && !f.studentNationalId.errors }"
                                                    formControlName="studentNationalId" class="form-control"
                                                    id="studentNationalId">
                                                <div class="invalid-feedback" *ngIf="f['studentNationalId'].errors">
                                                    <div *ngIf="f['studentNationalId'].errors.required">
                                                        Please enter Valid NationalId
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label for="studentBirthDate" class="requiredInput">
                                                    {{l('studentBirthDate')}}
                                                </label>
                                                <input type="text" bsDatepicker [bsConfig]="datePickerConfig"
                                                    [isDisabled]="true" formControlName="studentBirthDate"
                                                    class="form-control" id="studentBirthDate" readonly>
                                            </div>


                                        </div>
                                        <div class="form-group row required">
                                            <div class="col-md-4">
                                                <label for="fatherJob" class="requiredInput">{{l('fatherJob')}}</label>
                                                <input type="text" formControlName="fatherJob" class="form-control"
                                                    id="fatherJob" maxlength="20">
                                            </div>

                                        </div>
                                        <div class="form-group row required">

                                            <div class="col-md-4">
                                                <label for="motherJob" class="requiredInput">{{l('motherJob')}}</label>
                                                <input type="text" formControlName="motherJob" class="form-control"
                                                    id="motherJob" maxlength="20" />

                                            </div>
                                        </div>
                                        <div class="form-group row required">
                                            <div class="col-md-4">
                                                <label for="fatherMobile"
                                                    class="requiredInput">{{l('fatherMobile')}}</label>
                                                <input type="text" (keypress)="checkPattern($event,false,true)"
                                                    formControlName="fatherMobile" class="form-control"
                                                    id="fatherMobile" maxlength="12">

                                            </div>

                                            <div class="col-md-4">
                                                <label for="motherMobile" class="requiredInput">
                                                    {{l('motherMobile')}}
                                                </label>
                                                <input type="text" (keypress)="checkPattern($event,false,true)"
                                                    formControlName="motherMobile" class="form-control"
                                                    id="motherMobile" maxlength="12" />

                                            </div>
                                        </div>
                                        <div class="form-group row required">
                                            <div class="col-md-4">
                                                <label for="telephone" class="requiredInput">
                                                    {{l('homeTelephone')}}
                                                </label>
                                                <input type="text" (keypress)="checkPattern($event,false,true)"
                                                    formControlName="telephone" class="form-control" id="telephone"
                                                    maxlength="12">
                                            </div>

                                            <div class="col-md-4">
                                                <label for="email" class="requiredInput">{{l('studentMail')}}</label>
                                                <input type="email"
                                                    [ngClass]="{ 'is-invalid': f.email.touched  && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }"
                                                    formControlName="email" class="form-control" id="email"
                                                    maxlength="20" />
                                                <div class="invalid-feedback" *ngIf="f['email'].errors">
                                                    <div *ngIf="f['email'].errors.email"> Please enter Valid Mail
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row required">

                                            <div class="col-md-4">
                                                <label for="studentReligion"
                                                    class="requiredInput">{{l('studentReligion')}}</label>
                                                <select type="text" formControlName="studentReligion"
                                                    class="form-control" id="studentReligion">

                                                    <option value="مسلم">مسلم</option>
                                                    <option value="مسيحي">مسيحي</option>
                                                    <option value="أخري">أخري</option>

                                                </select>
                                            </div>


                                        </div>
                                        <div class="form-group row required">
                                            <div class="col-md-4">
                                                <label for="hasRelative">{{l('studentRelatives')}}</label>
                                                <input type="checkbox" (change)="checkValidation()" style="margin:30px"
                                                    formControlName="hasRelative" class="form-check-inline"
                                                    id="hasRelative">
                                            </div>


                                        </div>
                                        <div class="form-group row required" *ngIf="f.hasRelative.value">
                                            <div class="col-md-6">
                                                <label for="studentRelativeName" class="requiredInput">
                                                    {{l('studentRelativesInfo')}}
                                                </label>
                                                <textarea type="text" formControlName="studentRelativeName"
                                                    class="form-control" id="studentRelativeName" maxlength="40">
                                            </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row required">
                                            <div class="col-md-4">
                                                <label for="motherSchoolGraduate">{{l('motherGraduate')}}</label>
                                                <input type="checkbox" (change)="checkValidation()" style="margin:30px"
                                                    formControlName="motherSchoolGraduate" class="form-check-inline"
                                                    id="motherSchoolGraduate">
                                            </div>


                                        </div>
                                        <div class="form-group row required" *ngIf="f.motherSchoolGraduate.value">
                                            <div class="col-md-4">
                                                <label for="motherGradYear"
                                                    class="requiredInput">{{l('motherGraduationYear')}}</label>
                                                <input type="text" (keypress)="checkPattern($event,false,true)"
                                                    formControlName="motherGradYear" class="form-control"
                                                    id="motherGradYear" maxlength="4">

                                            </div>
                                        </div>
                                        <div class="form-group row required">
                                            <div class="col-md-4">
                                                <label for="joiningSchool"
                                                    class="requiredInput">{{l('joiningSchool')}}</label>
                                                <input type="text" formControlName="joiningSchool" class="form-control"
                                                    id="joiningSchool" maxlength="30">

                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="chooseDate">
                                        <div class="pr-3 pb-3 pe-3 w-auto" *ngIf="!hideDate">

                                            <bs-datepicker-inline (bsValueChange)="dateChanged($event)"
                                                [datesEnabled]="enabledDates" [dateCustomClasses]="dateCustomClasses">
                                            </bs-datepicker-inline>

                                        </div>
                                        <div class="row" style="margin-bottom: 15px;">
                                            <div class="col-md-3" *ngIf="!hideDate">
                                                <select class="form-control" (change)="timeChanged($event.target.value)"
                                                    id="timeList" formControlName="formTime">
                                                    <option value="" disabled selected>Select Time</option>
                                                    <option *ngFor="let tm of timetable" [value]="tm.id">
                                                        {{tm.timeName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="chooseDate">
                                        <div class="col-md-9">
                                            <div class="alert alert-success" role="alert">
                                                Selected Date is : {{dateName}} , Selected Time is :{{timeName}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" type="button"
                                                *ngIf="!chooseDate&&birthDateValid" (click)="chooseDate=true"
                                                style="margin-right: 10px;">{{l('next')}}</button>

                                            <button class="btn btn-primary" type="button" style="float: right;"
                                                *ngIf="!chooseDate&&ViewApp"
                                                [routerLink]="['../viewapplication']">{{l('print')}}</button>

                                            <button class="btn btn-primary" type="button" style="margin-right: 10px;"
                                                *ngIf="chooseDate&&ViewApp" (click)="chooseDate=false">
                                                {{l('editProfile')}}
                                            </button>
                                            <button class="btn btn-primary" type="button" style="margin-right: 10px;"
                                                *ngIf="chooseDate&&ViewApp" (click)="hideDate=false">
                                                {{l('editDate')}}
                                            </button>

                                            <button class="btn btn-primary" type="button" style="margin-right: 10px;"
                                                *ngIf="chooseDate&&!ViewApp" (click)="chooseDate=false">
                                                {{l('back')}}
                                            </button>

                                            <button *ngIf="chooseDate&&birthDateValid" style="float: right;"
                                                class="btn btn-success" [disabled]="ApplicationForm.invalid||saving"
                                                type="submit">{{l('save')}}</button>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
