<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Application Form</h3>
                        </div>
                        <div class="card-body  container">
                            <form class="form-horizontal" autocomplete="off" [formGroup]="ApplicationForm"
                                (ngSubmit)="save()">
                                <div *ngIf="!chooseDate">
                                    <div class="form-group row required">
                                        <div class="col-md-4">
                                            <label for="name" class="requiredInput">Student Name</label>
                                            <input type="text" formControlName="studentName" class="form-control"
                                                name="name" id="name" maxlength="30">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="name" (keypress)="arabicOnly($event)"
                                                class="requiredInput">Student
                                                Name Arabic</label>
                                            <input type="text" formControlName="studentNameAr" class="form-control"
                                                name="name" id="name" maxlength="30">
                                        </div>
                                    </div>
                                    <div class="form-group row required">
                                        <div class="col-md-4">
                                            <label for="studentBirthDate" class="requiredInput">Birth Date</label>
                                            <input type="text" bsDatepicker [bsConfig]="datePickerConfig"
                                                [isDisabled]="true" formControlName="studentBirthDate"
                                                class="form-control" id="studentBirthDate" readonly>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="studentReligion" class="requiredInput">Religion</label>
                                            <select type="text" formControlName="studentReligion" class="form-control"
                                                id="studentReligion">

                                                <option value="Muslim">Muslim</option>
                                                <option value="Christian">Christian</option>
                                                <option value="Other">Other</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row required">
                                        <div class="col-md-4">
                                            <label for="fatherJob" class="requiredInput">Father Job</label>
                                            <input type="text" formControlName="fatherJob" class="form-control"
                                                id="fatherJob" maxlength="20">
                                        </div>

                                    </div>
                                    <div class="form-group row required">

                                        <div class="col-md-4">
                                            <label for="motherJob" class="requiredInput">Mother Job</label>
                                            <input type="text" formControlName="motherJob" class="form-control"
                                                id="motherJob" maxlength="20" />

                                        </div>
                                    </div>
                                    <div class="form-group row required">
                                        <div class="col-md-4">
                                            <label for="fatherMobile" class="requiredInput">Father Mobile</label>
                                            <input type="text" (keypress)="checkPattern($event,false,true)"
                                                formControlName="fatherMobile" class="form-control" id="fatherMobile"
                                                maxlength="12">

                                        </div>

                                        <div class="col-md-4">
                                            <label for="motherMobile" class="requiredInput">Mother Mobile</label>
                                            <input type="text" (keypress)="checkPattern($event,false,true)"
                                                formControlName="motherMobile" class="form-control" id="motherMobile"
                                                maxlength="12" />

                                        </div>
                                    </div>
                                    <div class="form-group row required">
                                        <div class="col-md-4">
                                            <label for="telephone" class="requiredInput">Telephone</label>
                                            <input type="text" (keypress)="checkPattern($event,false,true)"
                                                formControlName="telephone" class="form-control" id="telephone"
                                                maxlength="12">
                                        </div>

                                        <div class="col-md-4">
                                            <label for="email" class="requiredInput">Email</label>
                                            <input type="email"
                                                [ngClass]="{ 'is-invalid': f.email.touched  && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }"
                                                formControlName="email" class="form-control" id="email"
                                                maxlength="20" />
                                            <div class="invalid-feedback" *ngIf="f['email'].errors">
                                                <div *ngIf="f['email'].errors.email"> Please enter Valid Mail
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row required">
                                        <div class="col-md-4">
                                            <label for="studentNationalId" class="requiredInput">Student
                                                NationalId</label>
                                            <input type="text" (keypress)="checkPattern($event,false,true)"
                                                (change)="getAgeAndBirthDate()" maxlength="14"
                                                [ngClass]="{ 'is-invalid': f.studentNationalId.touched  && f.studentNationalId.errors, 'is-valid': f.studentNationalId.touched && !f.studentNationalId.errors }"
                                                formControlName="studentNationalId" class="form-control"
                                                id="studentNationalId">
                                            <div class="invalid-feedback" *ngIf="f['studentNationalId'].errors">
                                                <div *ngIf="f['studentNationalId'].errors.required">
                                                    Please enter Valid NationalId
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="form-group row required">
                                        <div class="col-md-4">
                                            <label for="hasRelative">Student Has Relatives</label>
                                            <input type="checkbox" (change)="checkValidation()" style="margin:30px"
                                                formControlName="hasRelative" class="form-check-inline"
                                                id="hasRelative">
                                        </div>


                                    </div>
                                    <div class="form-group row required" *ngIf="f.hasRelative.value">
                                        <div class="col-md-6">
                                            <label for="studentRelativeName" class="requiredInput">Student Names and
                                                Grades</label>
                                            <textarea type="text" formControlName="studentRelativeName"
                                                class="form-control" id="studentRelativeName" maxlength="40">
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row required">
                                        <div class="col-md-4">
                                            <label for="motherSchoolGraduate">Mother Graduate From School</label>
                                            <input type="checkbox" (change)="checkValidation()" style="margin:30px"
                                                formControlName="motherSchoolGraduate" class="form-check-inline"
                                                id="motherSchoolGraduate">
                                        </div>


                                    </div>
                                    <div class="form-group row required" *ngIf="f.motherSchoolGraduate.value">
                                        <div class="col-md-4">
                                            <label for="motherGradYear" class="requiredInput">Graduation Year</label>
                                            <input type="text" (keypress)="checkPattern($event,false,true)"
                                                formControlName="motherGradYear" class="form-control"
                                                id="motherGradYear" maxlength="4">

                                        </div>
                                    </div>
                                    <div class="form-group row required">
                                        <div class="col-md-4">
                                            <label for="joiningSchool" class="requiredInput">Joining School</label>
                                            <input type="text" formControlName="joiningSchool" class="form-control"
                                                id="joiningSchool" maxlength="30">

                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="chooseDate">
                                    <div class="pr-3 pb-3 pe-3 w-auto">
                                        <!-- <input class="form-control" formControlName="formDate" bsDatepicker
                                            (bsValueChange)="dateChanged($event)" [datesEnabled]="enabledDates"> -->
                                        <bs-datepicker-inline (bsValue)="bsInlineValue" [datesEnabled]="enabledDates">
                                        </bs-datepicker-inline>
                                        <button (click)="dateChanged()" type="button">Check Time</button>

                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-md-3">
                                            <select class="form-control" id="timeList" formControlName="formTime">
                                                <option *ngFor="let tm of timeList">
                                                    {{tm.timeName}}
                                                </option>
                                            </select>
                                        </div>
                                        <!-- <timepicker [ngModelOptions]="{standalone: true}" [min]="minTime"
                                            [max]="maxTime" [(ngModel)]="time">
                                        </timepicker>
                                        <pre class="alert alert-info"
                                            [class.alert-danger]="time>12">Time is: {{time}}</pre> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <button class="btn btn-primary" type="button" *ngIf="!chooseDate"
                                            (click)="chooseDate=true">Next</button>
                                        <button class="btn btn-primary" type="button" style="margin-right: 10px;"
                                            *ngIf="chooseDate" (click)="chooseDate=false">Back</button>

                                        <button *ngIf="chooseDate" class="btn btn-success"
                                            [disabled]="ApplicationForm.invalid" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
