.Datalabel {
    font-size: 20px;
    direction: rtl;
    font-weight: 600;
    text-align: right;
}

.DataInfo {
    text-align: right;
    font-size: 25px;
}

.DatalabelGr {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.DataInfoGr {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
}
